<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.careerchoice">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FavoriteActivity"></activity>
        <activity
            android:name=".Colleges_Details_Activity"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".CollegeFieldsActivity"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".College_Categories_Activity"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".Colleges_Activity"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".contactActivity"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".WebsiteActivity"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".About_Sanjay_Details_Activity"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".About_Tejas_Details_Activity"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".About_Ram_Details_Activity"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".Courses_Details_Activity"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".AboutActivity"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".CoursesActivity"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".PDFOpen"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".CareerBookActivity"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".FeedbackActivity"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".FieldsActivity"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Demo" />
        <activity
            android:name=".CategoriesActivity"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".About_Mayank_Details_Activity"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity android:name=".ReagistrationActivity" />
        <activity
            android:name=".DashboardActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>